<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__inner-logo">
        <img src="../assets/img/logo.svg" alt="" class="logo">
        <h2 class="header__inner-title">Контрольные замеры</h2>
      </div>
      <div class="header__inner-buttons">
        <div class="header__inner-buttons-management">
          <button class="header__inner-buttons-management-btn measuring-btn"><img src="../assets/img/timeline.svg"
              alt="" class="measuring-img">Замеры</button>
          <button class="header__inner-buttons-management-btn report-btn">
            <img src="../assets/img/reports.svg" alt="" class="report-img">Отчеты
          </button>
          <button class="header__inner-buttons-management-btn service-btn">
            <img src="../assets/img/service.svg" alt="" class="service-img">Сервис
          </button>
        </div>
        <div class="header__inner-buttons-sort">
          <button class="header__inner-buttons-btn compact-btn"><img src="../assets/img/view-compact.svg" alt=""
              class="view-compact-img"></button>
          <button class="header__inner-buttons-btn week-btn"><img src="../assets/img/view-week.svg" alt=""
              class="view-week-img"></button>
        </div>
      </div>
    </div>
  </div>
</header>

<!--------- FIRST SECTION  -------------------->

<main class="main">
  <div class="container">
    <div class="main__inner">
      <div class="main_inner-choose-hardware" [ngClass]="{'disable-flex-basis': screenWidth <= 1500}"
        [ngStyle]="{'flex-basis': leftPanelWidth + 'px'}">

        <div class="main__inner-stations">
          <div class="main__inner-stations-choose">
            <button class="main__inner-stations-substation-btn">
              <img src="../assets/img/menu.svg" alt="">
              Подстанции
            </button>
            <p class="main__inner-stations-choose-text">> ТЭЦ ПГУ ГСР Энерго</p>
          </div>
          <button class="main__inner-stations-save-btn">
            <img src="../assets/img/save.svg" alt="">
            Сохранить
          </button>
        </div>
        <div class="main__inner-list">
          <button class="main__inner-list-btn substation-btn">Подстанция</button>
          <button class="main__inner-list-btn hardware-btn">Оборудование</button>
        </div>
        <div class="main__inner-line"></div>
        <div class="main__inner-switch-buttons">
          <button class="main__inner-switch-buttons-btn list-btn">
            Список
          </button>
          <button class="main__inner-switch-buttons-btn statement-btn">
            Ведомость
          </button>
        </div>
        <div class="main__inner-type">
          <div class="main__inner-type-box">
            <p class="main__inner-type-hardware">Тип</p>
            <select name="" id="" class="main__inner-type-list">
              <option value="">Трансформаторы</option>
            </select>
            <p class="main__inner-type-power">РУ</p>
            <select name="" id="" class="main__inner-type-amount">
              <option value="">110</option>
            </select>
          </div>
          <div class="main_inner-type-switch-box">
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
            <p class="main_inner-type-switch-box-text">Схема</p>
          </div>
        </div>
        <div class="main__inner-table">
          <table class="main__inner-table-equipment">
            <tr>
              <th>Наименование</th>
              <th>U ном.</th>
            </tr>
            <tr>
              <td>
                РТСН\HH-1
              </td>
              <td>
                6
              </td>
            </tr>
            <tr>
              <td>
                РТСН\HH-2
              </td>
              <td>
                6
              </td>
            </tr>
            <tr>
              <td>
                БТ1\HH-2
              </td>
              <td>
                10.5
              </td>
            </tr>
            <tr>
              <td>
                БТ-1\ВН
              </td>
              <td>
                110
              </td>
            </tr>
          </table>
        </div>
      </div>

      <!---------------- RESIZER ---------------------->
      <div class="resizer" (mousedown)="onMouseDown($event)">
        <img src="../assets/img/middle.svg" alt="" class="resizer-img" id="resizerImg">
      </div>

      <!-------------------------- SECOND SECTION --------------- -->

      <div class="main__inner-measuring">
        <div class="main__inner-measuring-title">
          <img src="../assets/img/file.svg" alt="" class="main__inner-measuring-title-img">
          <h2 class="main__inner-measuring-title-text">РТСН\НН-2</h2>
        </div>
        <div class="main__inner-measuring-tools">
          <div class="main__inner-measuring-tools-functions">
            <button class="main__inner-measuring-tools-btn check-btn">
              <img src="../assets/img/certificate.svg" alt="" class="tools-check-img">Проверить
            </button>
            <button class="main__inner-measuring-tools-btn undo-btn">
              <img src="../assets/img/block.svg" alt="" class="tools-undo-img">Отменить проверку
            </button>
            <button class="main__inner-measuring-tools-btn edit-btn" (click)="openEditModal()">
              <img src="../assets/img/edit.svg" alt="" class="tools-edit-img">Редактировать
            </button>
            <button class="main__inner-measuring-tools-btn delete-btn" (click)="deleteMeasurements()">
              <img src="../assets/img/delete.svg" alt="" class="tools-delete-img">Удалить
            </button>
          </div>
          <div class="main__inner-measuring-tools-view">
            <div class="main__inner-measuring-tools-view-change">
              <button class="main__inner-measuring-tools-view-change-btn vertical-btn">
                <img class="view-change-vertical-img" src="../assets/img/view_week1.svg" alt="">
              </button>
              <button class="main__inner-measuring-tools-view-change-btn horizontal-btn">
                <img class="view-change-horizontal-img" src="../assets/img/view_week2.svg" alt="">
              </button>
            </div>
            <button class="main__inner-measuring-tools-view-change-btn fullscreen-btn">
              <img class="view-change-fullscreen-img" src="../assets/img/expand.svg" alt="">
            </button>
          </div>
        </div>
        <div class="main__inner-measuring-info-and-group">
          <p class="main__inner-measuring-info-text"><span class="measuring-info-text--red">Нет</span> проверенных
            замеров</p>
          <div class="main__inner-measuring-info-group">
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
            <p class="main__inner-measuring-info-group-text">Группировать по дате</p>
          </div>
        </div>
        <div>
          <table class="main__inner-table-measurements">
            <tr>
              <th><input type="checkbox" (change)="toggleSelectAll($event)"></th>
              <th>Дата</th>
              <th>Время</th>
              <th>Источник</th>
              <th>Фаза</th>
              <th>U, kB</th>
              <th>I, A</th>
              <th>P, MBt</th>
              <th>Q, Mвар</th>
              <th>cos φ</th>
            </tr>
            <tr>
              <td class="main__inner-table-addmeasurements" colspan="10">
                <button class="main__inner-table-button" (click)="openAddModal()">
                  <img src="../assets/img/add.svg" alt="">Добавить новые замеры
                </button>
              </td>
            </tr>
            <tr *ngFor="let measurement of measurements"
              [class.selected]="selectedMeasurements.includes(measurement.id)">
              <td><input type="checkbox" id="checkbox-{{measurement.id}}" (change)="toggleSelection(measurement.id)"
                  [checked]="selectedMeasurements.includes(measurement.id)"></td>
              <td>{{measurement.date}}</td>
              <td>{{measurement.time}}</td>
              <td>{{measurement.source}}</td>
              <td>{{measurement.phase}}</td>
              <td>{{measurement.voltage}}</td>
              <td>{{measurement.current}}</td>
              <td>{{measurement.power}}</td>
              <td>{{measurement.reactivePower}}</td>
              <td>{{measurement.cosPhi}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>

<!------------- FOOTER SECTION ---------->

<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <p>Версия 11.6.5.41</p>
    </div>
  </div>
</footer>