* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    user-select: none;
}

/* ---------------------------- HEADER SECTION */

.header {
    background-color: #005BAA;
    padding: 0 10px;
}

.container {
    max-width: 1860px;
    margin: 0 auto;
    height: 100%;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 18px 0;
}

.header__inner-logo {
    display: flex;
    align-items: center;
}

.header__inner-logo h2 {
    margin-left: 23px;
}

.header__inner-title {
    min-width: 300px;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: white;
    margin-right: 65px;
    font-size: 24px;
}

.header__inner-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header__inner-buttons-management {
    display: flex;
}

.header__inner-buttons-management-btn {
    font-size: 18px;
    padding: 10px;
    gap: 10px;
    width: 120px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px #BDBDBD solid;
    color: white;
}

/* .header__inner-buttons-management-btn:hover {
    background-color: #F2F2F2;
    color: black;
} */

.header__inner-buttons-sort {
    display: flex;
}

.header__inner-buttons-btn {
    width: 42px;
    gap: 10px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px #BDBDBD solid;
    color: white;
}

/* .header__inner-buttons-btn:hover {
    background-color: #F2F2F2;
    color: black;
} */

.measuring-btn {
    background-color: #F2F2F2;
    color: #333333;
    width: 126px;
}

.measuring-btn,
.compact-btn {
    border-radius: 4px 0 0 4px;
}

.week-btn {
    background-color: white;
}

.report-btn {
    width: 122px;
}

.service-btn {
    width: 121px;
}

.service-btn,
.week-btn {
    border-radius: 0 4px 4px 0;
}


/*------------------ MAIN SECTION 1 */
.main {
    flex: 1;
    padding: 0 10px;
}

.main__inner {
    display: flex;
    height: 100%;
}

.main_inner-choose-hardware {
    margin-top: 19px;
    overflow: auto;
}

.main__inner-stations {
    display: flex;
    justify-content: space-between;
}

.main__inner-stations-choose {
    display: flex;
    align-items: center;
}

.main__inner-stations-choose-text {
    font-size: 22px;
    margin-left: 10px;
}

.main__inner-stations-substation-btn {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 6px 20px;
    background-color: transparent;
    border: 1px solid #E0E0E0;
    font-size: 16px;
    border-radius: 4px;
    width: 150px;
    font-family: 'Roboto', sans-serif;
}

.substation-btn {
    width: 114px;
}

.main__inner-stations-save-btn {
    width: 129px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    gap: 6px;
    padding: 9px 12px 9px 12px;
    max-height: 38px;
    background-color: #005BAA;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-size: 16px;
}

.main__inner-list {
    display: flex;
    padding-top: 16px;
}

.main__inner-list-btn {
    border: none;
    background-color: transparent;
    color: #005BAA;
    min-width: 100px;
    height: 42px;
    border-radius: 4px 4px 0 0;
    font-size: 16px;
    padding: 10px;
}

/* .main__inner-list-btn:hover {
    border: 1px solid #DEE2E6;
    background-color: #F2F2F2;
    color: #495057;
} */

.hardware-btn {
    width: 136px;
    border: 1px solid #DEE2E6;
    border-bottom: none;
    background-color: #F2F2F2;
    color: #495057;
}

.main__inner-line {
    height: 1px;
    width: 100%;
    background-color: #E0E0E0;
}

.main__inner-buttons {
    display: flex;
    margin-top: 16px;
}

.main__inner-type {
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
}

.main__inner-table {
    margin-top: 16px;
}

.main__inner-switch-buttons {
    margin-top: 16px;
    display: flex;
}

.main__inner-switch-buttons-btn {
    border: 1px solid #CED4DA;
    background-color: transparent;
    font-size: 14px;
    height: 32px;
}

/* .main__inner-switch-buttons-btn:hover {
    background-color: #CED4DA;
} */

.list-btn {
    border-radius: 4px 0 0 4px;
    background-color: #F2F2F2;
    width: 81px;
    color: #333333;
}

.statement-btn {
    border-radius: 0 4px 4px 0;
    width: 103px;
    color: #4F4F4F;
}

.main__inner-type-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main__inner-type-list,
.main__inner-type-amount {
    border-radius: 4px;
    border: 1px solid #CED4DA;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
}

.main__inner-type-list {
    width: 223px;
    color: #212529;
}

.main__inner-type-amount {
    width: 91px;
    color: #212529;
}

.main__inner-type-power {
    margin-left: 10px;
}

.main_inner-type-switch-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main__inner-type-hardware {
    color: #333333;
}

.resizer {
    width: 10px;
    background-color: #F2F2F2;
    position: relative;
    margin: 0 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resizer-img {
    display: flex;
    align-items: center;
    cursor: col-resize;
}

/*------------------ MAIN SECTION 2 */

.main__inner-measuring {
    flex-grow: 1;
    overflow: auto;
    margin-top: 16px;
}

.main__inner-measuring-title {
    display: flex;
    gap: 15px;
    margin-bottom: 16px;
    align-items: center;
}

.main__inner-measuring-title-text {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

.main__inner-measuring-tools {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

.main__inner-measuring-tools-functions {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.main__inner-measuring-tools-btn {
    padding: 6px 12px 6px 12px;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #005BAA;
    color: #005BAA;
    border-radius: 4px;
    max-height: 32px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.main__inner-measuring-tools-view {
    display: flex;
    gap: 16px;
}

.main__inner-measuring-tools-view-change {
    display: flex;
}

.main__inner-measuring-tools-view-change-btn {
    background-color: transparent;
    padding: 2px;
    min-width: 45px;
}

.main__inner-measuring-tools-view-change-btn img {
    margin-bottom: 3px;
}

/* .main__inner-measuring-tools-view-change-btn:hover {
    background-color: #CED4DA;
} */

.vertical-btn {
    border-radius: 4px 0 0 4px;
    border: 1px solid #CED4DA;
    border-right: 2px solid #CED4DA;
    width: 42px;
    background-color: #F2F2F2;
}

.horizontal-btn {
    border-radius: 0 4px 4px 0;
    border: 1px solid #CED4DA;
    width: 41px;
}

.fullscreen-btn {
    border-radius: 4px;
    border: 1px solid #CED4DA;
    width: 40px;
}

.main__inner-measuring-info-and-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.measuring-info-text--red {
    color: #C5182D;
}

.main__inner-measuring-info-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* ----------SECTION TABLE ONE----------- */

.main__inner-table-equipment {
    width: 100%;
    font-size: 16px;
}

.main__inner-table-equipment tr {
    text-align: left;
}

.main__inner-table-equipment,
td,
th {
    border: 1px solid #E0E0E0;
    border-collapse: collapse;
    color: #333333;
}

.main__inner-table-equipment td {
    width: 50%;
    padding: 8px;
}

.main__inner-table-equipment th {
    background-color: #F2F2F2;
    font-size: 18px;
    padding: 8px;
    font-weight: 400;
}

.main__inner-table-equipment tr:not(:first-child):hover td {
    background-color: lightblue;
}

/* ------------SECTION TABLE TWO --------*/

.main__inner-table-measurements {
    width: 100%;
}

.main__inner-table-measurements tr {
    text-align: left;
    font-size: 16px;
}

.main__inner-table-measurements,
th {
    border: 1px solid #E0E0E0;
    font-size: 17px;
    border-collapse: collapse;
}

.main__inner-table-measurements td {
    min-width: 10%;
    padding: 8px;
}

.main__inner-table-measurements th {
    background-color: #F2F2F2;
    padding: 8px;
    font-weight: 400;
    border: 1px solid #E0E0E0;
    font-weight: 500;
}

.main__inner-table-measurements tr:not(:nth-child(2)):hover td {
    background-color: lightblue;
}

.main__inner-table-button {
    /* width: 20%; */
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 12px;
    color: #005BAA;
    margin-left: 8px;
}

.main__inner-table-measurements-checkbox {
    width: 100%;
    height: 100%;
}

.check-btn {
    width: 119px;
}

/* -------------------------- FOOTER SECTION */

.footer {
    background-color: #005BAA;
    padding: 10px;
}

.footer p {
    color: white;
}

/* --------------------------- SLIDER */
.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 32px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 1px;
    bottom: 1px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 32px;
}

input:checked+.slider {
    background-color: transparent;
    border-color: #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(16px);
    background-color: #2196F3;
}

/* --------------------------- SLIDER-DATE */
.switch-date {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 16px;
}

.switch-date input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-date {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 1px solid rgba(0, 66, 105, 0.28);
    border-radius: 32px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider-date:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 1px;
    bottom: 1px;
    background-color: rgba(0, 66, 105, 0.28);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 32px;
}

input:checked+.slider-date {
    border-color: rgba(0, 66, 105, 0.28);
}

input:checked+.slider-date:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(12px);
    background-color: #004269;
}

/*------------------ Увеличение размеров чекбоксов */
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

/* ------------------------Стиль для состояния */
input[type="checkbox"]:checked {
    background-color: #005BAA;
    border-color: rgba(0, 0, 0, 0.15);
}

/* -----------------Иконка галочки для состояния */
input[type="checkbox"]:checked::before {
    content: '';
    position: absolute;
    top: 45%;
    left: 50%;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

.main__inner-table-measurements td:first-child input[type="checkbox"] {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.main__inner-table-measurements th:first-child input[type="checkbox"] {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.main__inner-measuring-info-text {
    color: #4F4F4F;
}

/*--------------------- ROUNDED SLIDER ------------ */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider-date.round {
    border-radius: 34px;
}

.slider-date.round:before {
    border-radius: 50%;
}

.selected {
    background-color: lightblue;
}


/* ----------------Вертикальное разделение */
@media screen and (max-width: 1500px) {

    .main__inner {
        flex-direction: column;
    }

    .resizer {
        display: none;
    }

    .main__inner-measuring {
        margin-top: 50px;
    }
}

.disable-flex-basis {
    flex-basis: auto !important;
}