<div class="modal-info">
    <h1 class="modal-info__modal-add-more">Добавить измерение</h1>
    <form (ngSubmit)="onSubmit()">
        <label class="modal-info__modal-field">
            Дата:
            <input type="text" [(ngModel)]="measurement.date" name="date" disabled>
        </label>
        <label class="modal-info__modal-field">
            Время:
            <input type="text" [(ngModel)]="measurement.time" name="time" disabled>
        </label>
        <label class="modal-info__modal-field">
            Источник:
            <input type="text" [(ngModel)]="measurement.source" name="source" required>
        </label>
        <label class="modal-info__modal-field">
            Фаза:
            <input type="text" [(ngModel)]="measurement.phase" name="phase" required>
        </label>
        <label class="modal-info__modal-field">
            U, kB:
            <input type="text" [(ngModel)]="measurement.voltage" name="voltage" required>
        </label>
        <label class="modal-info__modal-field">
            I, A:
            <input type="text" [(ngModel)]="measurement.current" name="current" required>
        </label>
        <label class="modal-info__modal-field">
            P, MBt:
            <input type="text" [(ngModel)]="measurement.power" name="power" required>
        </label>
        <label class="modal-info__modal-field">
            Q, Mвар:
            <input type="text" [(ngModel)]="measurement.reactivePower" name="reactivePower" required>
        </label>
        <label class="modal-info__modal-field">
            cos φ:
            <input type="text" [(ngModel)]="measurement.cosPhi" name="cosPhi" required>
        </label>
        <div class="modal-info__dialog-actions">
            <button class="modal-info__dialog-actions-btn undo-btn" type="button" (click)="onCancel()">Отменить</button>
            <button class="modal-info__dialog-actions-btn add-btn" type="submit">Добавить</button>
        </div>
    </form>
</div>